* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    color: black;
  }
  
/*Bouton retour en Haut*/

  .boutonREH {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      z-index: 20;
      background: turquoise;
  }

  .fa-arrow-up {
      font-size: 40px;
      color: white;
  }

/*Fin Bouton retour en Haut*/
/*Début Header*/

  header {
    width: 100%;
    flex-direction: row;
    padding: 20px 0;
    text-align: center;
    background-color: #FFFEFD;
  }

  header img:hover {
      animation: RotationL 2s infinite;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
ul li{
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

li a {
    color: black;
}

ul li:hover {
    transform: scale(1.1);
    transition: 1.2s;
    background-color: #FFF5EC;
    box-shadow: 5px 5px 5px rgb(26, 24, 24);
    border: black solid 1px;
  }

/*Fin Header*/
/*Début Main*/

#bg {
    background-color: white;
    width: 100%;
}

main h1 {
    margin: 3% auto;
    border: 4px black dashed;
    padding: 2%;
    width: 40%;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

#case1 {
    width: 55%;
    text-align: center;
    padding: 7% 0;
    border: solid black 2px;
    border-radius: 10px;
    background: linear-gradient(80deg, rgb(44, 184, 226), rgb(86, 238, 98));
}

#case1 h3 {
    padding: 10%;
}

#case1 #droite {
    animation: translation1 2s infinite;
}

#case1 #gauche {
    animation: translation2 2s infinite;
}

#anim {
    display: flex;
    width: 40%;
    justify-content: center;
    text-align: center;
    
}

/*Fin Main*/
/*Animation*/

@keyframes translation1 {
    0% {transform : translateX(-20px);}
    50% {transform : translateX(0px);}
    100% {transform : translateX(-20px);}
}
@keyframes translation2 {
    0% {transform : translateX(20px);}
    50% {transform : translateX(0px);}
    100% {transform : translateX(20px);}
}
@keyframes RotationL {
    0% {transform: rotate(0turn);}
    100% {transform: rotate(1turn);}
}

/*Fin Animation*/