* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
  }

  .boutonREH {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 20px;
      bottom: 20px;
      cursor: pointer;
      z-index: 1;
  }

  .fa-arrow-up {
      font-size: 40px;
      color: white;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    text-align: center;
    background-color: #FFFEFD;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    float: right;
}
ul li{
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

li a {
    color: black;
}

ul li:hover {
    transform: scale(1.1);
    transition: 1s;
    background-color: #FFF5EC;
  }

#bg {
    background-color: white;
    width: 100%;
    margin-top: 5%;
}

#case1 {
    width: 70%;
    text-align: center;
    padding: 10% 0;
    border: solid black 2px;
    border-radius: 10px;
    background: linear-gradient(80deg, rgb(10, 152, 196), rgb(8, 235, 26));
}

#case1 h3 {
    padding: 10%;
}

#case1 .fas {
    animation: translation 2s infinite;
}

#anim {
    display: flex;
    width: 40%;
    justify-content: center;
    text-align: center;
    
}

@keyframes translation {
    0% {transform : translateX(-20px);}
    50% {transform : translateX(0px);}
    100% {transform : translateX(-20px);}
}