.Top li img {
    width: 95px;
}

.Top li {
    display: grid;
    text-align: center;
    font-size: 20px;
}

.sectionTop {
    width: 60%;
    background-color: #1B383C;
    margin: auto;
    border-radius: 20px;
}

.bot {
    display: flex;
    justify-content: space-evenly;
}

#top {
    display: flex;
    justify-content: center;
}