.Top li img {
    width: 95px;
    margin-bottom: 10px;
}

.Top li {
    display: grid;
    text-align: center;
    font-size: 20px;
}

.sectionTop {
    width: 60%;
    background-color: #1B383C;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}
.classementFriend {
    width: 80%;
    background-color: #1B383C;
    min-height: 50vh;
    margin: 50px auto;
    border-radius: 20px;
}
.classementFriend h2 {
    margin: 35px auto;
}

.sectionTop h2 {
    margin: 35px auto;
}

.bot {
    display: flex;
    justify-content: space-evenly;
}

#top {
    display: flex;
    justify-content: center;
}