#accueil section{
    margin: 50px 0;
}

.conteneur p {
    text-align: center;
    padding: 20px 20px 0px;
}

.conteneur span{
    display: block;
    text-align: center;
    background-color:  #106B7E;
    color: white;
    padding: 5px 10px;
    font-size: 0.9em;
    width: 100%;
}

.conteneur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteneur .boxsondage{
    width: 400px;
    background-color:#1B383C;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.418);
    border-radius: 15px;
    margin: 35px 20px;
}

.conteneur .boxsondage img{
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.fa-share{
    display: flex;
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #106B7E;
    padding: 10px 20px 20px;
}

.fa-share:hover{
    color: #7e1010;
}

.conteneur .boxsondage:hover{
    box-shadow: none;
    transition-duration: 0.2s;
    transform: translate(0px, -10px);
    transition-timing-function: linear;
}

.conteneur .boxsondage a:hover{
    text-decoration: none;
}


@media screen and (max-width:900px){
    .conteneur .boxsondage{
        width: 300px; 
        margin-bottom: 0px;
    }
    
    .conteneur .boxsondage img{
        width: 300px;
    }

}